<?php
$this->headTitle("Not Authorized");
$this->quotes()->setQuoted($quotes);
?>

<h1>Unauthorized Access</h1>

<div class="alert alert-warning">Sorry, you do not have permission to view this page.</div>
