<?php
$this->headTitle('Thank You');
?>

<div class="row">
    <div class="col-md-offset-4 col-md-5">
        <?php if ($id == 'sent' || $id == 'invalid-email' || $id == 'set' || $id == 'failed'): ?>
            <h1>Reset Password</h1>
        <?php else: ?>
            <h1>New User Account</h1>
        <?php endif; ?>

        <?php if ($id=='sent'): ?>
            <p>
                A password reset link has been sent to your email address.
            </p>

        <?php elseif ($id=='invalid-email'): ?>
            <p>
                There is no user with such an email.
            </p>

        <?php elseif ($id=='set'): ?>
            <p>
                Your new password has been set successfully.
            </p>
            <p>
                Return to <a href="<?= $this->url('login'); ?>">login page</a>.
            </p>

        <?php elseif ($id=='failed'): ?>
            <p>
                Invalid reset key or it may have expired. Please return
                <a href="<?= $this->url('reset-password') ?>">here</a> and try reset your password again.
            </p>

        <?php elseif ($id=='failedValid'): ?>
            <p>
                Invalid validate token or it may have expired. Please return
                <a href="<?= $this->url('add') ?>">here</a> and try to Register a new account again.
            </p>

        <?php elseif ($id=='userAdd'): ?>
            <p>
                Your account has been created and a varify email link sent to the email account you supplied.<br />
                You must validate your email account before you can login and participate on the site.
            </p>
            <p>
                Return to <a href="<?= $this->url('home'); ?>">GFC</a> and continue to browse?.
            </p>

        <?php elseif ($id=='userAddFail'): ?>
            <p>
                Something went wrong, your new account was not succefully created. Please try to register again.
            </p>
            <p>
                Return to <a href="<?= $this->url('add'); ?>">Register new account</a>.
            </p>

        <?php elseif ($id=='setuser'): ?>
            <p>
                Your email has been varified successfully. You account is now active and you may login.
            </p>
            <p>
                Return to <a href="<?= $this->url('login'); ?>">login page</a>.
            </p>

        <?php elseif ($id=='faileduser'): ?>
            <p>
                Your email has not been varified. Please try to register again with a valid email that you use regularly.
            </p>
            <p>
                Return to <a href="<?= $this->url('add'); ?>">Register new account</a>.
            </p>

        <?php endif; ?>
    </div>
</div>    