<?php
$this->headTitle('View User');
$this->headScript()->appendFile('/js/profile/profileView.js', 'text/javascript');

$this->mainMenu()->setActiveItemId('community');

$this->pageBreadcrumbs()->setItems([
            'Home'=>$this->url('home'),
            $user->getFullName() => $this->url('users', ['action'=>'view', 'id'=>$user->getId()])
            ]);

$this->quotes()->setQuoted($quotes);
?>

<?= $this->flashMessenger()->render('error', ['alert', 'alert-warning']); ?>
<?= $this->flashMessenger()->render('success', ['alert', 'alert-success']); ?>
<?= $this->flashMessenger()->render('info', ['alert', 'alert-info']); ?>

<div class="profileView">
    <?php if ($user->getProfilePic() != '') {
        echo '<img class="profilePic" src="/' . $user->getProfilePic() . '" alt="' . $user->getFullName()  . '">';
    } elseif ($user->getEmail() != '') {
        echo $this->gravatar($user->getEmail());
    } ?>
</div><h1><?= $this->escapeHtml($user->getFullName()); ?></h1>
<p>&nbsp;</p>

<div style="clear:both;"></div>

<?php if($this->identity() === $user->getEmail()) : ?>

    <div id="admin_links">
        <div id="panel_nav">
            <ul>
                <li><a href="<?php echo $this->url('userAdmin', ['action' => 'profileUpdate',
                        'id' => $user->getId()]); ?>">Update Profile</a></li>
                <li><a href="<?php echo $this->url('projectAdmin'); ?>">Manage Projects</a></li>
                <li><a href="<?php echo $this->url('articleAdmin'); ?>">Manage Articles</a></li>
                <li><a href="<?php echo $this->url('newsAdmin'); ?>">Manage News</a></li>
                <li><a href="<?php //ToDo echo $this->url('insightAdmin'); ?>">Manage Insights</a></li>
                <li><a href="<?php echo $this->url('blogAdmin'); ?>">Manage Blog Posts</a></li>
                <li><a href="<?php echo $this->url('forumAdmin'); ?>">Manage Forum Posts</a></li>
            </ul>
        </div>
    </div>
    <div style="clear:both;"></div>

<?php endif; ?>

<div class="col-md-3">

    <div  id="profileInfo" class="panel-body">
        <div class="panel panel-heading">
            <?php if($this->flag != '') : ?>
            <div class="flag">
                <img src="../../images/flags/<?php echo $this->flag; ?>.png" />
            </div>
            <?php endif; ?>
            <h3 class="panel-title"><?php echo $this->translate('Member Info') ?></h3>
        </div>
        <?php if ($user->getShowAddress()) {?>
            <p><b>Address:</b><br />
                <?php echo $user->getAddress1() != '' ? $this->escapeHtml($user->getAddress1()) . '<br />' : ''; ?>
                <?php echo $user->getAddress2() != '' ? $this->escapeHtml($user->getAddress2()) . '<br />' : ''; ?>
                <?php echo $user->getCounty() != '' ? $this->escapeHtml($user->getCounty()) . '<br />' : ''; ?>
                <?php echo $user->getCity() != '' ? $this->escapeHtml($user->getCity()) . '<br />' : ''; ?>
                <?php echo $user->getPostCode() != '' ? $this->escapeHtml($user->getPostCode()) . '<br />' : ''; ?>
                <?php echo $user->getCountry() != '' ? $this->escapeHtml($user->getCountry()) . '<br />' : ''; ?></p>
        <?php } ?>
        <?php if ($user->getShowEmail()) {?>
            <p><b>Email: </b>
                <?= $this->escapeHtml($user->getEmail()); ?></p>
        <?php } ?>
        <?php if ($user->getShowcontact() ) {?>
            <?php echo $user->getPhone() != '' ? '<b>Phone: </b>' . $user->getPhone() . '<br />' : ''; ?>
            <?php echo $user->getMobile() != '' ? '<b>Mobile: </b>' . $user->getMobile() . '<br />' : ''; ?>
            <?php echo $user->getSkype() != '' ? '<b>Skype: </b>' . $user->getSkype() : ''; ?></p>
        <?php } ?>
        <p><?php if($user->getWebsite() != '') { ?><b>Website:</b> <a href="http://<?php echo $user->getWebsite(); ?>" target="_blank"><?php echo $user->getWebsite(); ?></a><br /> <?php } ?>
            <?php if($user->getYoutube() != '') { ?> <b>YouTube:</b> <a href="https://www.youtube.com/user/<?php echo $user->getYoutube(); ?>" target="_blank"><?php echo $user->getYoutube(); ?></a> <?php } ?>
        </p>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading  profileSlide">
            <a href="#" onClick="showProjects();"><img src="<?= $this->basePath('images/icons/arrow_right.png') ?>" id="project_div_open" class="div_open" />
                <h3 class="panel-title"><?php echo $this->translate('Projects') ?></h3></a>
        </div>
        <div  id="profilePanel" class="panel-body projects">
            <?php if(!empty($projects)) :
                foreach($projects as $project) : ?>
                    <div>
                        <img src="<?= $this->basePath($project->getImageLocation()) ?>" class="profile_display_list" />
                        <a href="<?php echo $this->url('project', ['action'=>'view', 'id' => $project->getId()]);?>"><?php echo $project->getTitle(); ?></a>
                    </div>
                <hr />
                <?php endforeach;
                 else : ?>
                <p><?= $this->escapeHtml($user->getFirstName()); ?> has no projects yet</p >
            <?php endif; ?>
        </div>
        <div class="panel-heading articleSlide">
            <a href="#" onClick="showArticles();"><img src="<?= $this->basePath('images/icons/arrow_right.png') ?>" id="articles_div_open" class="div_open" />
                <h3 class="panel-title"><?php echo $this->translate('Articles') ?></h3></a>
        </div>
        <div id="profilePanel" class="panel-body articles">
            <?php if(!empty($articles)) :
                foreach($articles as $article) : ?>
                    <div>
                        <img src="<?= $this->basePath($article->getImageLocation()) ?>" class="profile_display_list" />
                        <a href="<?php echo $this->url('article', ['action'=>'view', 'id' => $article->getId()]); ?>"><?php echo $article->getTitle(); ?></a>
                    </div>
                <hr />
                <?php endforeach;
            else : ?>
                <p><?= $this->escapeHtml($user->getFirstName()); ?> has no articles yet</p >
            <?php endif; ?>
        </div>
        <div class="panel-heading  docSlide">
            <a href="#" onClick="showDocuments();"><img src="<?= $this->basePath('images/icons/arrow_right.png') ?>" id="documents_div_open" class="div_open" />
                <h3 class="panel-title"><?php echo $this->translate('Documents') ?></h3></a>
        </div>
        <div id="profilePanel" class="panel-body documents">
            <?php //if(!empty($documents)) :
                //foreach($documents as $document) : ?>
                    <div>
                        <a href="../../../../members/<?php //echo $member->username; ?>/files/<?php //echo $document->filename; ?>"><?php //echo $document->label; ?></a>
                    </div>
                <?php //endforeach;
            //else : ?>
                <p><?= $this->escapeHtml($user->getFirstName()); ?> has no documents yet</p >
            <?php //endif; ?>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="panel-body">
        <?php echo html_entity_decode($user->getBiog()); ?>
    </div>
</div>

<div class="col-md-3">

    <div class="panel panel-default">

        <div class="panel-heading connectSlide">
            <a href="#" onClick="showConnections();"><img src="<?= $this->basePath('images/icons/arrow_right.png') ?>" id="connect_div_open" class="div_open" />
                <h3 class="panel-title"><?php echo $this->translate('Connections') ?></h3></a>
        </div>
        <div id="profilePanel" class="panel-body connect">
            <?php //ToDo CONNECTIONS if(!empty($friends)) :
                //foreach($friends as $friend) : ?>
                    <div>
                        <!-- <img src="../../../members/<?php //echo $friend->username;  ?>/profile/<?php //echo $friend->profile_pic;  ?>" width="30" height="30" alt="<?php //$friend->username  ?>">&nbsp;&nbsp; -->
                        <a href="<?php //echo $this->url('member\view\home',
                            //array('action'=>'profile', 'id' => $friend->user_id)); ?>"><?php //echo $friend->username; ?></a>
                    </div>
                <?php //endforeach;
            //else : ?>
                <p><?= $this->escapeHtml($user->getFirstName()); ?> has no connections yet</p >
            <?php //endif; ?>
        </div>
        <div class="panel-heading supportSlide">
            <a href="#" onClick="showSupports();"><img src="<?= $this->basePath('images/icons/arrow_right.png') ?>" id="supports_div_open" class="div_open" />
                <h3 class="panel-title"><?php echo $this->translate('Supported Projects') ?></h3></a>
        </div>
        <div id="profilePanel" class="panel-body supports">
            <?php //ToDo PROJECT SUPPORT if(!empty($supported_projects)) :
            //foreach($supported_projects as $supported_project) : ?>
            <div>
                <!-- <img src="../../../members/<?php //echo $supported_project->username; ?>/projects/<?php //echo str_replace(' ', '_', $supported_project->title); ?>/<?php //echo $supported_project->image; ?>" width="30" height="30" alt="<?php //$supported_project->title  ?>">&nbsp;&nbsp; -->
                <a href="<?php //echo $this->url('network', array('action'=>'project', 'id' => $supported_project->project_id));?>"><?php //echo $supported_project->title; ?></a>
            </div>
            <?php //endforeach;
            //else : ?>
            <p><?= $this->escapeHtml($user->getFirstName()); ?> has not supported any projects yet</p >
            <?php //endif; ?>
        </div>
        <div class="panel-heading postSlide">
            <a href="#" onClick="showPosts();"><img src="<?= $this->basePath('images/icons/arrow_right.png') ?>" id="posts_div_open" class="div_open" />
                <h3 class="panel-title"><?php echo $this->translate('Posts') ?></h3></a>
        </div>
        <div id="profilePanel" class="panel-body posts">
            <?php if(!empty($posts)) :
            foreach($posts as $year=>$monthGroup) : ?>
                <div id="postByYear" class="container_click postByYear">
                    <a href="#"  id="<?php echo $year; ?>" class="div_open_year"><img src="<?= $this->basePath('images/icons/arrow_right.png') ?>" id="rotate<?php echo $year; ?>" class="div_open" />
                    <?php echo $year; ?></a>
                    <?php foreach($monthGroup as $monthName=>$posts) { ?>
                        <div id="postByMonth<?php echo $year; ?>"  class="container_click month_group">
                            <a href="#"  id="<?php echo $monthName; ?>" class="div_open_month"><img src="<?= $this->basePath('images/icons/arrow_right.png') ?>" id="rotate<?php echo $monthName; ?>" class="div_open" />
                                <?php echo $monthName; ?></a>
                            <ul id="monthPosts<?php echo $monthName; ?>"  class="container_click month_list">
                            <?php foreach($posts as $post) { ?>
                                <li>
                                    <img src="<?= !empty($post->getImageLocation()) ? $this->basePath($post->getImageLocation()) : $this->basePath('images/icons/187-pencil.png') ?>" class="profile_display_list" />
                                    <a href="<?php echo $this->url('posts', ['action' => 'view', 'id' => $post->getId()]); ?>"><?php echo $post->getTitle(); ?></a>
                                </li>
                                <hr />
                            <?php } ?>
                            </ul>
                        </div>
                    <?php }
                    ?>
                </div>
            <?php endforeach;
            else : ?>
            <p><?= $this->escapeHtml($user->getFirstName()); ?> has not made any posts yet</p >
            <?php endif; ?>
        </div>
    </div>
</div>
<div style="clear:both;"></div>