<?php
$this->headTitle('Update Profile');
$this->headScript()->appendFile('/js/admin/profile/profileUpdate.js', 'text/javascript');
?>
<?php
$this->pageBreadcrumbs()->setItems([
    'My Zone'=>$this->url('admin'),
    'Profile Update'=>$this->url('userAdmin'),
]);
?>
<?php
$this->adminMainMenu()->setActiveAdminItemId('profileUpdate');

$form->get('first_name')->setAttributes([
    'class'=>'form-control',
    'placeholder'=>'First Name'
]);

$form->get('last_name')->setAttributes([
    'class'=>'form-control',
    'placeholder'=>'Last Name'
]);

$form->get('biog')->setAttributes([
    'class'=>'form-control'
]);

$form->get('address_1')->setAttributes([
    'class'=>'form-control',
    'placeholder'=>'Street Address 1'
]);

$form->get('address_2')->setAttributes([
    'class'=>'form-control',
    'placeholder'=>'Street Address 1'
]);

$form->get('city')->setAttributes([
    'class'=>'form-control',
    'placeholder'=>'City'
]);

$form->get('county')->setAttributes([
    'class'=>'form-control',
    'placeholder'=>'County / State'
]);

$form->get('country')->setAttributes([
    'class'=>'form-control'
]);

$form->get('post_code')->setAttributes([
    'class'=>'form-control',
    'placeholder'=>'Post Code / Zip'
]);

$form->get('phone')->setAttributes([
    'class'=>'form-control',
    'placeholder'=>'Phone'
]);

$form->get('mobile')->setAttributes([
    'class'=>'form-control',
    'placeholder'=>'Mobile'
]);

$form->get('skype')->setAttributes([
    'class'=>'form-control',
    'placeholder'=>'Skype'
]);

$form->get('website')->setAttributes([
    'class'=>'form-control',
    'placeholder'=>'Website'
]);

$form->get('youtube')->setAttributes([
    'class'=>'form-control',
    'placeholder'=>'YouTube'
]);

$form->get('status')->setAttributes([
    'class'=>'form-control'
]);
/*
$form->get('roles')->setAttributes([
    'class'=>'form-control'
]);
*/
$form->get('submit')
    ->setAttributes(['class'=>'btn btn-primary'])
    ->setValue('Update');

$form->prepare();

?>
<h1>Profile Update</h1>
<?= $this->form()->openTag($form); ?>
<?php
$error_class = '';


if ($this->formElementErrors($form->get('biog')) != ''
    || $this->formElementErrors($form->get('address_1')) != ''
    || $this->formElementErrors($form->get('address_2')) != ''
    || $this->formElementErrors($form->get('county')) != ''
    || $this->formElementErrors($form->get('city')) != ''
    || $this->formElementErrors($form->get('post_code')) != ''
    || $this->formElementErrors($form->get('first_name')) != ''
    || $this->formElementErrors($form->get('last_name')) != ''
    || $this->formElementErrors($form->get('phone')) != ''
    || $this->formElementErrors($form->get('mobile')) != ''
    || $this->formElementErrors($form->get('skype')) != ''
    || $this->formElementErrors($form->get('website')) != ''
    || $this->formElementErrors($form->get('youtube')) != ''
):
    $error_class = 'warning'; ?>
    <p class="warning">
        There were one or more isues with your submission. Please correct them as
        indicated against each input field as indicated below.
    </p>
<?php endif  ?>

<div id="profile_form" class="col-md-12">
    <div class="zend_form">

        <section>

            <div id="picUpdateSelect" class="container_click">
                <img src="<?= $this->basePath('images/icons/arrow_right.png') ?>" id="pic_div_open" class="div_open" />
                <h3><a href="#" onClick="showPicUpdate();">Profile Picture</a></h3>
            </div>
            <div id="picUpdate" class="updateContainers">

                <table width="90%" border="0">

                    <tr>
                        <td width="26%" valign="top">
                            <p>Your current Profile Pic is:</p>
                            <div id="current_profile_pic">
                                <img src="<?= $this->basePath($user->getProfilePic()) ?>" class="srored_profile_image" />
                            </div>
                        </td>
                        <td width="24%">
                            <div id="profilePicUpdate" class="updateContainers">
                                <div id="profilePicUpdateform">
                                    <p>Any changes made via the 'Upload' forms to the right will not take affect until the main 'Update' button is clicked at the bottom of this page.</p>
                                </div>
                        </td>
                    </tr>

                </table>
            </div>
            <hr />
        </section>

        <section>

            <div id="biogUpdateSelect" class="container_click" >
                <img src="<?= $this->basePath('images/icons/arrow_right.png') ?>" id="biog_div_open" class="div_open" />
                <h3><a href="#" onClick="showBiogUpdate();" <?php
                    if ($this->formElementErrors($form->get('biog')) != '') { ?>
                        class="warning container_click"
                    <?php } ?>>Personal Statement</a></h3>
                <p>Make a personal statement to support your intent and vision</p>

            </div>
            <div id="biogUpdate" class="updateContainers">
                <div class="form-group">
                    <p class="warning">When using tables limit table width to 530px</p>
                    <?= $this->formLabel($form->get('biog')); ?>
                    <?= $this->formElement($form->get('biog')); ?>
                    <?= $this->formElementErrors($form->get('biog')); ?>
                </div>
            </div>
            <hr />
        </section>

        <section>
            <div id="locUpdateSelect" class="container_click">
                <img src="<?= $this->basePath('images/icons/arrow_right.png') ?>" id="loc_div_open" class="div_open" />
                <h3><a href="#" onClick="showLocUpdate();" <?php
                    if ( $this->formElementErrors($form->get('address_1')) != ''
                        || $this->formElementErrors($form->get('address_2')) != ''
                        || $this->formElementErrors($form->get('county')) != ''
                        || $this->formElementErrors($form->get('city')) != ''
                        || $this->formElementErrors($form->get('post_code')) != ''

                    ) { ?>
                    class="warning container_click"
                    <?php  } ?>>Location</a></h3>
                <p>If you choose to, let people know where to find you.</p></div>
            <div id="locUpdate" class="updateContainers">
                <div id="registerform">
                    <div class="form-group">
                        <?= $this->formLabel($form->get('address_1')); ?>
                        <?= $this->formElement($form->get('address_1')); ?>
                        <?= $this->formElementErrors($form->get('address_1')); ?>
                    </div>

                    <div class="form-group">
                        <?= $this->formLabel($form->get('address_2')); ?>
                        <?= $this->formElement($form->get('address_2')); ?>
                        <?= $this->formElementErrors($form->get('address_2')); ?>
                    </div>

                    <div class="form-group">
                        <?= $this->formLabel($form->get('city')); ?>
                        <?= $this->formElement($form->get('city')); ?>
                        <?= $this->formElementErrors($form->get('city')); ?>
                    </div>

                    <div class="form-group">
                        <?= $this->formLabel($form->get('county')); ?>
                        <?= $this->formElement($form->get('county')); ?>
                        <?= $this->formElementErrors($form->get('county')); ?>
                    </div>

                    <div class="form-group">
                        <?= $this->formLabel($form->get('country')); ?>
                        <?= $this->formElement($form->get('country')); ?>
                        <?= $this->formElementErrors($form->get('country')); ?>
                    </div>

                    <div class="form-group">
                        <?= $this->formLabel($form->get('post_code')); ?>
                        <?= $this->formElement($form->get('post_code')); ?>
                        <?= $this->formElementErrors($form->get('post_code')); ?>
                    </div>

                    <div class="form-group">
                        <?= $this->formLabel($form->get('show_address')); ?>
                        <?= $this->formElement($form->get('show_address')); ?>
                        <?= $this->formElementErrors($form->get('show_address')); ?>
                    </div>

                    <div class="form-group">
                        <?= $this->formLabel($form->get('show_email')); ?>
                        <?= $this->formElement($form->get('show_email')); ?>
                        <?= $this->formElementErrors($form->get('show_email')); ?>
                    </div>
                </div>
            </div>
            <hr />
        </section>



        <section>
            <div id="contactUpdateSelect"  class="container_click">
                <img src="<?= $this->basePath('images/icons/arrow_right.png') ?>" id="contact_div_open" class="div_open" />
                <h3><a href="#" onClick="showContactUpdate();" <?php
                    if ( $this->formElementErrors($form->get('first_name')) != ''
                        || $this->formElementErrors($form->get('last_name')) != ''
                        || $this->formElementErrors($form->get('phone')) != ''
                        || $this->formElementErrors($form->get('mobile')) != ''
                        || $this->formElementErrors($form->get('skype')) != ''
                    ) { ?>
                        class="warning container_click"
                    <?php } ?>>Contact</a></h3>
                <p>For your projects to succeeed, let people know how to get in touch with you.</p></div>
            <div id="contactUpdate" class="updateContainers">
                <div id="registerform">

                    <div class="form-group">
                        <?= $this->formLabel($form->get('first_name')); ?>
                        <?= $this->formElement($form->get('first_name')); ?>
                        <?= $this->formElementErrors($form->get('first_name')); ?>
                    </div>

                    <div class="form-group">
                        <?= $this->formLabel($form->get('last_name')); ?>
                        <?= $this->formElement($form->get('last_name')); ?>
                        <?= $this->formElementErrors($form->get('last_name')); ?>
                    </div>

                    <div class="form-group">
                        <?= $this->formLabel($form->get('phone')); ?>
                        <?= $this->formElement($form->get('phone')); ?>
                        <?= $this->formElementErrors($form->get('phone')); ?>
                    </div>

                    <div class="form-group">
                        <?= $this->formLabel($form->get('mobile')); ?>
                        <?= $this->formElement($form->get('mobile')); ?>
                        <?= $this->formElementErrors($form->get('mobile')); ?>
                    </div>

                    <div class="form-group">
                        <?= $this->formLabel($form->get('skype')); ?>
                        <?= $this->formElement($form->get('skype')); ?>
                        <?= $this->formElementErrors($form->get('skype')); ?>
                    </div>

                    <div class="form-group">
                        <?= $this->formLabel($form->get('show_contact')); ?>
                        <?= $this->formElement($form->get('show_contact')); ?>
                        <?= $this->formElementErrors($form->get('show_contact')); ?>
                    </div>

                </div>
            </div>
            <hr />
        </section>

        <section>
            <div id="webUpdateSelect"  class="container_click">
                <img src="<?= $this->basePath('images/icons/arrow_right.png') ?>" id="web_div_open" class="div_open" />
                <h3><a href="#" onClick="showWebUpdate();" <?php
                    if ( $this->formElementErrors($form->get('website')) != ''
                        || $this->formElementErrors($form->get('youtube')) != ''

                    ) { ?>
                        class="warning container_click"
                    <?php } ?>>Web</a></h3>
                <p>Promote your own website and YouTube Channel on your profile.</p></div>
            <div id="webUpdate" class="updateContainers">
                <div id="registerform">

                    <div class="form-group">
                        <?= $this->formLabel($form->get('website')); ?>
                        <?= $this->formElement($form->get('website')); ?>
                        <?= $this->formElementErrors($form->get('website')); ?>
                    </div>

                    <div class="form-group">
                        <?= $this->formLabel($form->get('youtube')); ?>
                        <?= $this->formElement($form->get('youtube')); ?>
                        <?= $this->formElementErrors($form->get('youtube')); ?>
                    </div>

                </div>
            </div>
            <hr />
        </section>

        <div class="form-group">
            <?= $this->formLabel($form->get('status')); ?>
            <?= $this->formElement($form->get('status')); ?>
            <?= $this->formElementErrors($form->get('status')); ?>
        </div>

        <div class="form-group">
            <?= $this->formElement($form->get('image_location')); ?>
            <?= $this->formElementErrors($form->get('image_location')); ?>
        </div>

        <?= $this->formElement($form->get('submit')); ?>

    </div>
    <?= $this->form()->closeTag(); ?>
</div>

<div class="spacer"></div>

<script language="javascript">
    tinyMCE.init({
        selector: 'textarea',
        height: 500,
        theme: 'modern',
        plugins: [
            'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            'searchreplace wordcount visualblocks visualchars code fullscreen',
            'insertdatetime media nonbreaking save table contextmenu directionality',
            'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
        ],
        toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        toolbar2: 'print preview media | forecolor backcolor emoticons | codesample',
        image_advtab: true,
        templates: [
            { title: 'Test template 1', content: 'Test 1' },
            { title: 'Test template 2', content: 'Test 2' }
        ],
        content_css: [
            '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
            '//www.tinymce.com/css/codepen.min.css'
        ]
    });
</script>